<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Made from kinglin
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rail-101/" target=_new>kinglin</a>
  </p>
</footer>
